
#main-container{
    display:flex;
    justify-content: center;
}
#center-container{
    display:flex;
    flex-direction:column;
    align-items: center;
    padding: 15px;
    margin-top: 30px;
    border-radius: 5px;
    background-color: #91a5ba;
}